/* CSS to deal with city focus styles */

i[id^="fave-"]{
position: absolute;
top: 40%;
}

/*
Media query to fix few formatting on the multiline columns

Breakpoints#
Bulma has 4 breakpoints which defines 5 screen sizes:

mobile: up to 768px
tablet: from 769px
desktop: from 1024px
widescreen: from 1216px
fullhd: from 1408px

*/
@media screen and (max-width: 768px) {

  .weather-stats-card {
    width: 100% !important;
  }
}
