/* CSS to deal with header styles */

.right-now-box {
  min-width: 275px;
  white-space: nowrap;
}

.right-now-box>div {
  display: flex;
}

#right-now-time,
#middle-header {
  white-space: nowrap;
}

#header-container {
  justify-content: space-evenly;
}

#left-side-header,
#right-side-header {
  position: absolute;
}

#left-side-header {
  left: 0;
}

#right-side-header {
  right: 0;
  margin-right: 16px;
}

p:has(#right-now-time) {
  padding: 8px;
}

#star-container {
  align-content: center;
}

/* Sets the right-side-header which holds the right-now weather
and should be only displayed in the city-focus page. However, this
is a generic container, so it can hold any other info, therefore,
this project decided to keep it in the header and being accessed
through all other pages, then each page can trigger it to show up
and change it contents to better suit the pages needs. */
#right-side-header {
  display: none;

}

/*
Media query to fix few formatting on the multiline columns

Breakpoints#
Bulma has 4 breakpoints which defines 5 screen sizes:

mobile: up to 768px
tablet: from 769px
desktop: from 1024px
widescreen: from 1216px
fullhd: from 1408px

*/

@media screen and (max-width: 1024px) {

  .right-now-box {
    width: 100% !important;
  }

  #header-container {
    justify-items: center !important;
  }

  #logo-hero {
    min-width: 160px !important;
  }

  /* Take out the right now weather box from the page */
  #right-side-header {
    display: initial;
  }

  #left-side-header,
  #right-side-header {
    position: relative;
  }

  #right-side-header {
    margin-right: 0px;
  }

}


/*
  Styling for the Dropdown menu
*/

.title-with-dropdown {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  place-self: center;
}

.layer-1-title {
  position: absolute;
  display: flex;
  align-items: center;
}

.layer-2-subtitle {
  padding-top: 72px;
}

#star-icon {
  padding-right: 25px;
}

#star-icon:has(.checked) {
  color: gold;
  text-shadow: 0.0em 0.0em 0.2em #333;
}

#dropdown-icon {
  padding-left: 25px;
}


/* 
  Dropdown menu

  An adaptation of "How TO - Clickable Dropdown"

  Reference:
  https://www.w3schools.com/howto/howto_js_dropdown.asp
*/

.dropbtn {
  z-index: 1;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  min-width: 200px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

#myDropdown {
  position: fixed;
  position-area: center;
}