<footer class="footer has-background-black has-text-white">
  <div class="container">
    <div class="content has-text-centered">
      <img id="footer-img" class="image is-inline" src="/images/logo.png" alt="Whether weather logo">
      <p class="is-inline">
        (Whether)Weather - Your.Weather
      </p>
    </div>
  </div>
</footer>