<article class="right-now-box box has-text-centered has-background-warning-light has-text-black">
  <p class="is-size-4 has-text-black">Right Now <span id="right-now-time"></span></p>
  <div class="columns is-2">
    <!-- Right Now Temp Column -->
    <div class="column">
      <p class="is-size-5 has-text-black">Temp</p>
      <p class="is-size-5 has-text-black"><span id="right-now-temp"></span></p>
    </div>
    <!-- Right Now Wind Column -->
    <div class="column ">
      <p class="is-size-5 has-text-black">Wind</p>
      <p class="is-size-5 has-text-black"><span id="right-now-wind"></span></p>
    </div>
  </div>
</article>