<div class="title-container">
  <p class="layer-1-title is-size-1 has-text-black has-text-weight-bold">
    <span id="city"></span>
  </p>
</div>
<p class="layer-2-subtitle is-block is-size-1 has-text-black"><span id="day"></span></p>