<div class="title-container">
  <h1 class="layer-1-title is-size-1 has-text-black has-text-weight-bold">
    <span id="city"></span>
  </h1>
</div>
<h2 class="layer-2-subtitle is-block is-size-1 has-text-black"><span id="day"></span></h2>