<div class="title-with-dropdown">
  <p class="layer-1-title is-size-1 has-text-black has-text-weight-bold">
    <span id="city"></span>
    <span id="dropdown-icon" class="icon is-small is-size-5">
      <i onclick="dropdownFunction()" class="fas fa-angle-down dropbtn" aria-hidden="true"></i>
    </span>
  </p>
  <div class="dropdown">
    <div id="myDropdown" class="dropdown-content">
      <a href="/?city=amsterdam">Amsterdam</a>
      <a href='/?city=berlin'>Berlin</a>
      <a href="/?city=copenhagen">Copenhagen</a>
      <a href="/?city=cork">Cork</a>
      <a href="/?city=new_york">New York</a>
      <a href="/?city=paris">Paris</a>
      <a href="/?city=san_francisco">San Francisco</a>
      <a href="/?city=tromso">Tromso</a>
      <a href="/?city=waterford">Waterford</a>
    </div>
  </div>
</div>
<p class="layer-2-subtitle is-block is-size-1 has-text-black">Today</p>