<header id=header-container class="columns is-multiline is-vcentered is-centered">
  <!-- Logo column -->
  <article id="left-side-header" class="column is-3">
    <figure class="image is-inline-block ">
      <img id="logo-hero" src="/images/logo.png" alt="Logo hero image">
    </figure>
  </article>
  <!-- Main Title Column -->
  <article id="middle-header" class="column is-3">
    <div class="has-text-centered">
      {% if middleHeader %}
      {% include middleHeader %}
      {% endif %}
    </div>
  </article>
  <!-- Generic side pane, it is removed from all pages by default, and each page can display it again and update the contents as they wish. -->
  <article id="right-side-header" class="column is-3">
    {% if rightSideHeader %}
    {% include rightSideHeader %}
    {% endif %}
  </article>
</header>